<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ZeusTube</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/home.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">ZeusTube</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          
          <!-- <form autocomplete="off" action="/action_page.php">
            <div class="autocomplete container-1" style="width:300px;" class="box">
              <input id="myInput" type="text" name="myCountry" placeholder="Country">
            </div>
            <input type="submit">
          </form> -->
          
          <div class="box"> 
            <div class="container-1 autocomplete"> 
              <input type="search" id="search" placeholder="Search..." onkeypress="getSearchResults(event)" autocomplete="off"> 
            </div> 
          </div>
          
          <ul class="navbar-nav ml-auto">
            <!-- <li class="nav-item active">
              <a class="nav-link" href="#">Account
                
              </a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
          </ul>
        
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <div class="row" id="videos">
            
          Loading...  
    
      </div>  <!-- /.row -->

    
    </div>    <!-- /.container -->


    <!-- Footer -->

    <footer class="py-2 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Zeus Tube 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="css/jquery/jquery.min.js"></script>
    <script src="css/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="js/home.js"></script>

  </body>

</html>
