body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.row{
  padding-top: 15px;
}
.box { 
  margin: 5px auto;
  border-radius: 25px;
  width: 100%;
  max-width: 550px;
  text-align: center; 
}

#search{
  
  padding-left:15px;
  /* border:1px solid #f5f5f5; */
  font-size:18px;
  color:gray;
  background-image:url('http://i47.tinypic.com/r02vbq.png');
  background-repeat:no-repeat;
  background-position:right center;outline:0;


}
.box .container-1 input{
   border-radius: 25px;
   width: 100%;
}
  
